.accordionItem {
  $accordion-item-padding: 20px;
  $accordion-item-spacing: 30px;
  $accordion-button-size: 36px;
  $accordion-arrow-size: 18px;
  $accordion-arrow-position: 6px;

  padding: $accordion-item-padding $accordion-item-padding;
  border: 1px solid $accent;
  border-radius: 10px;
  transition: all .3s ease-in-out;

  & + & {
    margin-top: $accordion-item-padding;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.25rem;
    color: $text;
    margin: 0;
    transition: color .4s ease-in-out;
  }

  &__button {
    top: 11px;
    width: $accordion-button-size;
    height: $accordion-button-size;
    background: $white;
    box-shadow: 0 0 10px 0 $accent;
    border-radius: 100%;
  }

  &__arrow {
    display: inline-block;
    position: relative;
    width: $accordion-arrow-size;
    height: $accordion-arrow-size;
    transform: rotate(180deg);

    &::before,
    &::after {
      position: absolute;
      top: $accordion-arrow-position;
      width: 12px;
      height: 4px;
      background: $accent;
      content: '';
      transition: all .3s ease-in-out;
    }

    &::before {
      left: $accordion-arrow-position;
      transform: rotate(45deg);
    }

    &::after {
      right: $accordion-arrow-position;
      transform: rotate(-45deg);
    }
  }

  &__body {
    overflow: hidden;
    transition: height .5s ease-in-out;
  }

  &__content {
    padding-top: $accordion-item-padding;
  }

  &--open {
    background-color: $white;
    border: 1px solid $white;
    box-shadow: 0 2px 54px 0 $mystic;

    .accordionItem__title {
      color: $primary;
    }

    .accordionItem__arrow::after,
    .accordionItem__arrow::before {
      top: 8px;
      background: $primary;
    }

    .accordionItem__arrow::before {
      transform: rotate(-45deg);
    }

    .accordionItem__arrow::after {
      transform: rotate(45deg);
    }
  }
}
