.accordionItem {
  $accordion-item-padding: 20px;
  $accordion-item-spacing: 30px;
  $accordion-button-size: 32px;
  $accordion-arrow-size: 16px;
  $accordion-arrow-position: 5px;

  padding: $accordion-item-padding $accordion-item-padding;
  margin-right: $accordion-button-size/2;
  border: 1px solid $accent;
  border-radius: 10px;
  transition: all .3s ease-in-out;

  & + & {
    margin-top: $accordion-item-padding;
  }

  &__header {
    position: relative;
  }

  &__title {
    width: 90%;
    font-size: 1.5rem;
    font-weight: 300;
    color: $text;
    margin: 0;
    transition: color .4s ease-in-out;
  }

  &__button {
    position: absolute;
    top: calc(50% - #{$accordion-arrow-size});
    right: -$accordion-button-size;
    flex: 0 0 auto;
    width: $accordion-button-size;
    height: $accordion-button-size;
    background: $white;
    box-shadow: 0 0 10px 0 $accent;
    border-radius: 100%;
    transition: background .5s ease;
  }

  &__arrow {
    display: inline-block;
    position: relative;
    width: $accordion-arrow-size;
    height: $accordion-arrow-size;
    transform: rotate(180deg);

    &::before,
    &::after {
      position: absolute;
      top: $accordion-arrow-position;
      width: 12px;
      height: 4px;
      background: $accent;
      border-radius: 2px;
      content: '';
      transition: all .3s ease-in-out;
    }

    &::before {
      left: $accordion-arrow-position;
      transform: rotate(45deg);
    }

    &::after {
      right: $accordion-arrow-position;
      transform: rotate(-45deg);
    }
  }

  &__body {
    overflow: hidden;
    transition: height .5s ease-in-out;
  }

  &__content {
    padding-top: $accordion-item-padding;
    font-size: 14px;
    font-weight: 500;
    color: #747a85;
  }

  &--open {
    background-color: $white;
    border: 1px solid $white;
    box-shadow: 0 2px 54px 0 $mystic;

    .accordionItem__title {
      color: $primary;
    }

    .accordionItem__button {
      background: $primary;
    }

    .accordionItem__arrow::after,
    .accordionItem__arrow::before {
      top: 6px;
      background: $white;
    }

    .accordionItem__arrow::before {
      transform: rotate(-45deg);
    }

    .accordionItem__arrow::after {
      transform: rotate(45deg);
    }
  }

  @media #{$screen-md} {
    &__content {
      width: 90%;
    }
  }
}
