div.top {
    background: linear-gradient(to right, #4cd9da 0%,#4cd9da 50%,#4e87ed 50%,#4e87ed 100%);
}
div.topContainer {
    height: 300px;
    background: linear-gradient(to right, #4cd9da 0%,#4e87ed 100%);
}

div.content {
    padding-top: 50px;
    padding-bottom: 100px;
}

div.content h1 {
    text-align: center;
    flex: 1;
    padding-bottom: 20px;
}

.dim {
    background-color: #F8F8F8;
}

div.footer {
    background-color: #4A4A4A;
    color:white;
}