$royalBlue: #567be2;
$athensGray: #f0f1f5;
$mystic: #dee3ec;
$wildSand: #f4f4f4;
$ghost: #c3c9d6;
$tundora: #4a4a4a;

$white: #ffffff;

$primary: $royalBlue;
$accent: $mystic;
$background: $athensGray;
$text: $tundora;