* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: $primary;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  font: inherit;
  line-height: 0;
  background-color: transparent;
  border: none;
}

button,
a {
  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}